{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Мой Проект</title>
    <!-- Здесь подключаем CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    
    <nav>
        <a href="/">Главная</a>
        {% if user.is_authenticated %}
            <span>Привет, {{ user.username }}!</span>
            
            <a href="{% url 'profile' %}">Мой профиль</a> |
            
            <form action="{% url 'logout' %}" method="post" style="display:inline;">
                {% csrf_token %}
                <button type="submit">Выйти</button>
            </form>
        {% else %}
            <a href="{% url 'login' %}">Войти</a> | 
            <a href="{% url 'signup' %}">Регистрация</a>
        {% endif %}
    </nav>

    <!-- Это "окно", куда дочерние шаблоны будут вставлять свой код -->
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>